@(bar: Bar)

@import helper._

@main("Bar profil") {
	<!-- blanknode avec typeOf -->
    <div
    	typeof="foaf:****" xmlns:foaf="http://xmlns.com/foaf/0.1/"
    	xmlns:v="http://www.w3.org/2006/vcard/ns#"
    	xmlns:nt="http://ns.inria.fr/nicetag/2010/09/09/voc">
    	
    <h1 property="foaf:***">@bar.label</h1>
    <ul>
    	<li property="****">Adresse : @bar.adresse</li>
    	<li property="****">Coordonnées : @bar.lat @bar.longi</li>
    	<li>Personnes qui aiment ce bar :
    		<ul rel="">
    			 @for(user <- bar.getIsFavorit()) {
					<li property="****"><a rel="" href="/user/@user.name">@user.name</a></li>
        		}  
    		</ul>
    	</li>
    	<li>Boissons :
    		<ul rel="foaf:***">
    			 @for(drink <- bar.getDrinks()) {
					<li property="****"><a rel="" href="***"></a></li>
        		}  
    		</ul>
    	</li>
    </ul>
    </div>

}